@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

:root{
    --theme-blue: #42506B;
    --slight-white: #E9E9EB;

    --calc-bg-color: #ced0d3;
    --display-white: #fefefe;
    --inactive-red: #EF4B4C;
    --active-red: #ee3a3a;
    --inactive-blue: #3E619B;
    --active-blue: #5b8bda;
    
    --extra-button-font-size: 1.25rem;

    --box-shadow: 0 4px 8px 0 #778899, 0 6px 20px 0 #778899;
    --text-shadow:  2px 4px 4px #778899;

    --button-border: 1px solid var(--theme-blue);
    --button-border-radius: 10px;

    --transition: 0.085s ease-in-out;
}

@media (prefers-color-scheme:dark) {
    :root{
        --theme-blue: #323a49;
        --slight-white: #E9E9EB;
        
        --calc-bg-color: #adaeb1;
        
        --box-shadow: 0 4px 8px 0 #697581, 0 6px 20px 0 #697581;
        --text-shadow: 2px 4px 4px #637180;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;

    background-color: var(--slight-white);
    font-family: 'Spline Sans', sans-serif;
}

/* HEADER & TITLE */
#header{
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-title{
    font-size: 4rem;

    text-shadow: var(--text-shadow);

    transition: var(--transition);
}

.project-title:hover{
    text-shadow: 4px 8px 8px #677685;
    transform: translateY(-5px)
}

.project-title a{
    text-decoration: none;
    color: var(--theme-blue);
}

/* CALC CONTAINER */
#calc-area{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
}

.calc-cont{
    height: 450px;
    width: 400px;

    display: flex;
    flex-direction: column;

    background: var(--calc-bg-color);
    border: 2.5px solid #959797;
    border-radius: 12.5px;
    box-shadow: var(--box-shadow);
}

/* CALC DISPLAY */
.calc-display{
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.display{
    margin: 16px 0 16px 0;

    height: 125px;
    width: 375px;

    background-color: var(--display-white);
    border: var(--button-border);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
}

.displayed{
    font-size: 2rem;

    margin-right: 16px;
}

/* CLEAR BUTTON */
.extra-btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 396px;
    height: 50px;

    margin-bottom: 16px;
    padding: 0 8px;
}

.clear-btn{
    width: 150px;
    height: 40px;

    background-color: var(--inactive-red);
    border: var(--button-border);
    border-radius: var(--button-border-radius);

    font-size: var(--extra-button-font-size);

    box-shadow: var(--box-shadow);

    transition: var(--transition);
}

.clear-btn:active{
    background-color: var(--active-red);

    transform: translateY(4px)
}

.backspace{
    width: 150px;
    height: 40px;

    background-color: var(--inactive-blue);
    border: var(--button-border);
    border-radius: var(--button-border-radius);

    font-size: var(--extra-button-font-size);

    box-shadow: var(--box-shadow);

    transition: var(--transition);
}

.backspace:active{
    background-color: var(--active-blue);

    transform: translateY(4px)
}

.integer{
    width: 75px;
    height: 40px;

    border: var(--button-border);
    border-radius: var(--button-border-radius);

    font-size: var(--extra-button-font-size);

    box-shadow: var(--box-shadow);

    transition: var(--transition);
}

.integer:active{
    background-color: var(--theme-blue);
    color: rgb(255, 255, 255);

    transform: translateY(4px)
}

/* BUTTONS */
.btn-cont{
    height: 300px;
    gap: 16px;
}

.btns{
    display: flex;
    gap: 5px;

    margin-bottom: 8px;
}

.btns button{
    flex: 1;
    width: 75px;
    height: 50px;

    font-size: 2rem;

    border: var(--button-border);
    border-radius: var(--button-border-radius);
    box-shadow: var(--box-shadow);

    transition: var(--transition);
}

.btns button:active{
    background-color: var(--theme-blue);
    color: var(--slight-white);

    transform: translateY(4px)
}

/* footer */
#footer{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    
    width: 100%;
    height: 50px;
    background-color: var(--theme-blue);
    color: var(--slight-white);
}

#footer a{
    text-decoration: none;
    color: var(--slight-white);

    transition: var(--transition);
}

#footer a:hover{
    text-shadow: var(--text-shadow);
}